
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  
  margin: 0;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
a{
  font-family: 'Nunito', sans-serif;
    }
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}
.header1 {
  position: fixed;
  
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
  z-index: 10000;
  background: rgb(184, 209, 218);
  
}

.header1 .logo {
  font-weight:bolder;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  font-size: 3rem;
  text-decoration:none;
}

.header1 .logo span {

  color: rgb(255, 111, 0);
}

.header1 .navbar1 a {
  font-weight:bolder;
  display: inline-block;
  padding: 1.7rem 2rem;
  font-size: 1.7rem;
  color: #000000;
  text-decoration:none;
}

.header1 .navbar1 a:hover {
  background:  #EEE9DA;
}
#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header1 {
    padding: 2rem;
  }
  .header1 .navbar1 {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #BDCDD6;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header1 .navbar1.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header1 .navbar1 a {
    display: block;
    font-size: 2rem;
  }
}


/*upload css*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(img/r.jpeg.png) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Nunito', sans-serif;
}
.form-container {
width: 100vw;
height: 100vh;
background: rgba(184, 209, 218, 0.638);
display: flex;
   justify-content: space-evenly;
align-items: center;
}
.upload-files-container {
background-color: #f7fff7;
width: 420px;
padding: 30px 60px;
border-radius: 40px;
display: flex;
   align-items: center;
   justify-content: center;
flex-direction: column;
box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}
.upload-files-container1 {
background-color: #f7fff7;
width: 420px;
margin-right: 0;
height: 300px;

padding: 30px 60px;
border-radius: 40px;
display: flex;
   align-items: center;
   justify-content: space-between;
flex-direction: column;
box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}
.title3{
font-size: 25px;
color:blue;
font-weight:bold;
}
.drag-file-area {
border: 2px dashed rgba(4, 94, 126, 0.888);
border-radius: 40px;
margin: 10px 0 15px;
padding: 30px 50px;
width: 350px;
text-align: center;
}
.drag-file-area .upload-icon {
font-size: 50px;
}
.drag-file-area h3 {
font-size: 26px;
margin: 15px 0;
}
.drag-file-area label {
font-size: 19px;
}
.drag-file-area label .browse-files-text {
color: #3333ff;
font-weight: bolder;
cursor: pointer;
}
.browse-files span {
position: relative;
top: -25px;
}
.default-file-input {
opacity: 0;
}
.cannot-upload-message {
background-color: #ffc6c4;
font-size: 17px;
display: flex;
align-items: center;
margin: 5px 0;
padding: 5px 10px 5px 30px;
border-radius: 5px;
color: #BB0000;
display: none;
}
.result1{
min-width:10rem;
min-height:10rem;
background-color:white;
}
@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
padding-right: 10px;
}
.cannot-upload-message span:last-child {
padding-left: 20px;
cursor: pointer;
}
.file-block {
color: #f7fff7;
background-color: #3333ff;
  transition: all 1s;
width: 390px;
position: relative;
display: none;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin: 10px 0 15px;
padding: 10px 20px;
border-radius: 25px;
cursor: pointer;
}
.file-info {
display: flex;
align-items: center;
font-size: 15px;
}
.file-icon {
margin-right: 10px;
}
.file-name, .file-size {
padding: 0 3px;
}
.remove-file-icon {
cursor: pointer;
}
.progress-bar {
display: flex;
position: absolute;
bottom: 0;
left: 4.5%;
width: 0;
height: 5px;
border-radius: 25px;
background-color: #4BB543;
}
.upload-button {
font-family: 'Montserrat';
background-color: #3333ff;
color: #f7fff7;
display: flex;
align-items: center;
font-size: 18px;
border: none;
border-radius: 20px;
margin: 10px;
padding: 7.5px 50px;
cursor: pointer;
}
.ans{
font-size:2rem;
border: 2px dashed rgba(4, 94, 126, 0.888);
border-radius: 40px;
margin: 3px 3px 15px;
padding: 71px 71px;
width: 350px;
text-align: center;
}

/*end upload css*/